# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Flutter generated
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# IntelliJ / Android Studio
.idea/
*.iml

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Env
.env